<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>アカウント作成</title>
</head>
<body>
	<h1>アカウントを作成してください</h1>
	<form action="/users" method="post">
		<p>
			ユーザー名：<input type="text" name="username"></input><br></br>
			パスワード：<input type="password" name="password"></input><br></br>
			好きなアーティスト：<input type="text" name="favoriteArtist"></input><br></br>
		</p>
		<p>
			<input type="submit"></input>
		</p>
	</form>
	<p><a href="top">topに戻る</a></p>
</body>
</html>