<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>メイン画面</title>
</head>
<body>

<header>
	<h1>ようこそhajimata</h1>
	<nav>
		<ul>
			<li><a href="aaaaaa">ユーザー一覧</a></li>
			<li><a href="bbbbbb">ログアウト</a></li>
		</ul>
	</nav>
</header>

<form action="bbbbbbb" method="post">
	<p>
		ツイート：
		<textarea cols="30" rows="3" name="tweet">
			
		</textarea>
	</p>
	<p>
		<input type="submit"></input>
	</p>
</form>

<div>
	<h2>gebara</h2>
	<p>hogehogehogehoge</p>
</div>

<div>
	<h2>nico</h2>
	<p>hogehogehogehoge</p>
</div>

</body>
</html>