<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>トップ画面</title>
	<script src="https://npmcdn.com/vue/dist/vue.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body>
	<h1>ログインしてください</h1>
	<form action="/login" method="POST">
		<p>
			ユーザー名：<input type="text" name="username"></input><br></br>
			パスワード：<input type="password" name="password"></input>
		</p>
		<p>
			<input type="submit"></input>
		</p>
	</form>
	<p>
		<a href="createaccount">新規ユーザーはこちら</a>
	</p>
	
	   <div id="player"></div>
	   <div id="app"></div>

	 
  
</body>
</html>